body {
  background: #ebebeb;
  font-family: sans-serif;
}

code {
  font-family: monospace;
}

section {
    margin-bottom: 8rem;
}

.example {
  margin-left: -6.25vw;
  width: 100vw;
}

@media (min-width: 640px) {
  .example {
    margin-left: -3.125vw;
  }
}

@media (min-width: 1056px) {
  .example {
    margin-left: -3.0303vw;
  }
}

@media (min-width: 1650px) {
  .example {
    margin-left: -50px;
  }
}